<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style-dist.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <section>
    <main>
      <div class="wrapper">
        <div class="search-pannel">
          <div class="title">Пример тестового задания</div>
          <div class="search">
            <input type="text" value="{{inputValue}}" placeholder="Поиск сделок" id="search" />
          </div>
        </div>
        <div class="table">
          <div class="no-data display"><span>Нет данных 🤷‍♂️ </span> </div>
          <div class="content ">

            <div class="head item">
              <div class="hidden-plus-sign">+</div>
              <div class="name-cell">Название</div>
              <div class="child">Статус</div>
              <div class="child">Ответственный</div>
              <div class="child">Дата создания</div>
              <div class="child">Бюджет</div>
            </div>


            {{!-- {{#if dataAllLeads}} --}}
            {{#each answer}}
            <div class="row item">
              <div><span class="plus-sign">+</span></div>
              {{!-- ////////// --}}


              <div class="name-cell">

                <div class="name-cell-name">
                  {{name}}
                </div>
                <div class="name-cell-tags">
                  {{#each _embedded.tags}}
                  <span class="separator"> | </span>
                  <span class="tag">{{name}}</span>
                  {{/each}}
                </div>

              </div>

              {{!-- ////////// --}}

              {{#if firstContact}}
              <div class="child"><span class="status first-contact">{{status_id}}</span></div>
              {{/if}}
              {{#if negotiation}}
              <div class="child"><span class="status negotiation">{{status_id}}</span></div>
              {{/if}}
              {{#if decisions}}
              <div class="child"><span class="status decisions">{{status_id}}</span></div>
              {{/if}}
              {{#if agreement}}
              <div class="child"><span class="status agreement">{{status_id}}</span></div>
              {{/if}}


              {{!-- ////////// --}}

              <div class="child">
                <i class="fa-regular fa-user"></i>
                <div> {{responsible_user_id}}</div>
              </div>
              <div class="child">{{created_at}}</div>
              <div class="child">{{separatePriceWithSpace price}} ₽</div>
            </div>

            <div class="row item contacts visible">
              {{#each _embedded.contacts}}

              <div class="child name-cell">

                <i class="fa-regular fa-user"></i>
                <div>
                  {{name}}
                </div>
                {{#if phone}}
                <span class="separator"> | </span>
                <span class="tag"><a href="tel:{{phone}}"><i class="fa-solid fa-phone"></i></a></span>
                {{/if}}
                {{#if email}}
                <span class="separator"> | </span>
                <span class="tag"><a href="mailto:{{email}}"><i class="fa-solid fa-envelope"></i></a></span>
                {{/if}}
              </div>

              {{/each}}
            </div>
            {{/each}}
            {{!-- {{/if}} --}}
          </div>
        </div>
      </div>
      </div>
    </main>
  </section>
  <script src="/js/home.js"></script>

</body>

</html>

{{!-- {{#each data}}
{{id}}
{{/each}} --}}